
<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title  size="large" >
      FMS
    </ion-title>
    <ion-buttons slot="start">
      <ion-button href="mainhome"><ion-icon slot="icon-only" name="home-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<br><br>
<ion-content [fullscreen]="true">
  <div *ngIf="user.profil=='Admin' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Gestion des Utilisateurs</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-searchbar showCancelButton animated  placeholder="chercher les utilisateurs "  (ionChange)="searsh($event)"></ion-searchbar>
            <ion-list >
              <ion-item-sliding *ngFor=" let utilisateur of utilisateurs | search :textBus : 'nom'; let i = index  ">
                <ion-item>
                  <ion-label>{{utilisateur.nom}}    {{utilisateur.prenom}} </ion-label>
                </ion-item>
                <ion-item-options side="end" >


                  <ion-item-option color="danger" (click)="presentAlertConfirm(utilisateur.id,i)" ><ion-icon name="close"></ion-icon></ion-item-option>
                </ion-item-options>
                <ion-item-options side="start" >
                  <ion-item-option color="primary" (click)="modify(utilisateur.id)" >Modifier</ion-item-option>
                  <ion-item-option color="tertiary" (click)="getDetails(utilisateur.id)">Détail</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              <ion-button href="home" shape="round" color="success" expand="block"  > Ajouter un utilisateur</ion-button>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  <div *ngIf="user.profil=='profil 1' ">



  <ion-text color="danger">
    <h1>Desolé , seul les admins sont autorisé a cette page !!  <ion-icon name="sad-outline"></ion-icon><ion-icon name="sad-outline"></ion-icon></h1>
  </ion-text>




  </div>
