<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center" >
      FMS
    </ion-title>
    <ion-buttons slot="start">
      <ion-button href="mainhome"><ion-icon slot="icon-only" name="home-outline" ></ion-icon></ion-button>
      <ion-button href="dashboard"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<br>
<br>

<ion-content [fullscreen]="true"  >

  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-card>
          <ion-card-header color="danger ">
            <ion-card-title>Mon profil </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label><b>Nom :</b> {{utilisateurs.nom}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><b>Prenom : </b>{{utilisateurs.prenom}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label ><b>Email : </b>{{utilisateurs.email}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><b>Profil :</b> {{utilisateurs.profil}} </ion-label>
              </ion-item>
              <ion-item>
                <ion-label><b>Etat :</b> {{utilisateurs.etat}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><b>Frequence de renouvelement du login :</b> {{utilisateurs.frl}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><b>Date de validation :</b> {{utilisateurs.created_at}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



