<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title size="large" >
      FMS
    </ion-title>
    <ion-buttons slot="start">
      <ion-button href="parametres"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
      <ion-button href="mainhome"><ion-icon slot="icon-only" name="home-outline" ></ion-icon></ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <div *ngIf="user.etat=='Actif' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="danger ">
            <ion-card-title>Paramétre monnaies</ion-card-title>
          </ion-card-header>
          <ion-list>
            <ion-item-sliding *ngFor=" let monnaie of monnaies; let i = index">
              <ion-item>
                <ion-label>{{monnaie.type_monnaie}}    </ion-label>
              </ion-item>
              <ion-item-options side="end" >


                <ion-item-option color="danger" (click)="Alert()" (click)="delete(i)" (click)="deleteMonnaie(monnaie.id)" ><ion-icon name="close"></ion-icon></ion-item-option>
              </ion-item-options>
              <ion-item-options side="start" >
                <ion-item-option color="primary" (click)="modify(monnaie.id)" >Modifier</ion-item-option>
                <ion-item-option color="tertiary" (click)="getDetails(monnaie.id)">Détail</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            <ion-button href="parametres/monnaies/ajouter" shape="round" color="success" expand="block"  > Ajouter un Monnaie</ion-button>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  <div *ngIf="user.etat=='Inactif' ">
    <ion-text color="danger">
      <h1>Desolé , Vous étes en etat Inactif pour le moment vous pouver pas acceder le site !!  <ion-icon name="sad-outline"></ion-icon><ion-icon name="sad-outline"></ion-icon></h1>
    </ion-text>

  </div>
