<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title href="mainhome" size="large" >
      FMS
    </ion-title>
    <ion-buttons slot="start">
      <ion-button href="mainhome"><ion-icon slot="icon-only" name="home-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="danger ">
            <ion-card-title>Choisisser un prospect !  </ion-card-title>
          </ion-card-header>

            <ion-card-content>
              <ion-searchbar showCancelButton animated  placeholder="chercher les prospects ! " (ionChange)="searsh($event)"></ion-searchbar>
              <ion-list>
                <ion-item-sliding *ngFor=" let prospect of prospects | search: textBus:'codeP' ">
                  <ion-item (click)="modify(prospect.id)">
                    <ion-label>{{prospect.codeP}}     </ion-label>
                  </ion-item>

                </ion-item-sliding>



