<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title  size="large" >
      FMS
    </ion-title>
    <ion-buttons slot="start">
      <ion-button href="mainhome"><ion-icon slot="icon-only" name="home-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <br><br>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="danger ">
            <ion-card-title>Envoyer email pour change mot de passe </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>

              <ion-label position="floating" color="dark">Email</ion-label>
              <ion-input type="text" [(ngModel)]="loginn.email"  name="email" ></ion-input>
            </ion-item>
            <ion-chip color="danger" [hidden]="!error.email">
              <ion-label> {{error.email}}</ion-label>
             </ion-chip>

              <ion-item>

                <ion-label position="floating" color="dark">Nouveau mot de passe </ion-label>
                <ion-input type="password" [(ngModel)]="loginn.password"  name="password" ></ion-input>
              </ion-item>
              <ion-chip color="danger" [hidden]="!error.password">
                <ion-label> {{error.password}}</ion-label>
               </ion-chip>

                <ion-item>

                  <ion-label position="floating" color="dark">confirmation mot de passe </ion-label>
                  <ion-input type="password" [(ngModel)]="loginn.password_confirmation"  name="password_confirmation" ></ion-input>

                </ion-item>
                <ion-chip color="danger" [hidden]="!error.password_confirmation">
                  <ion-label> {{error.password_confirmation}}</ion-label>
                 </ion-chip>
                <ion-item>
                  <ion-button fill="solid" slot="end" color="tertiary" (click)="submit()"> Changer mot de passe</ion-button>

                </ion-item>
