<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title size="large" >
      FMS
    </ion-title>
    <ion-buttons slot="start">
      <ion-button href="parametres"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
      <ion-button href="mainhome"><ion-icon slot="icon-only" name="home-outline" ></ion-icon></ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Paramétre Pays</ion-card-title>
          </ion-card-header>
          <ion-list>
            <ion-item-sliding *ngFor=" let pay of pays; let i = index">
              <ion-item>
                <ion-label>{{pay.nom_pays}}    </ion-label>
              </ion-item>
              <ion-item-options side="end" >


                <ion-item-option color="danger" (click)="Alert()" (click)="delete(i)" (click)="deletePays(pay.id)" ><ion-icon name="close"></ion-icon></ion-item-option>
              </ion-item-options>
              <ion-item-options side="start" >
                <ion-item-option color="primary" (click)="modify(pay.id)" >Modifier</ion-item-option>
                <ion-item-option color="tertiary" (click)="getDetails(pay.id)">Détail</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            <ion-button href="parametres/pays/ajouter" shape="round" color="success" expand="block"  > Ajouter un pays</ion-button>
