<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title size="large" >
      FMS
    </ion-title>
    <ion-buttons slot="start">
      <ion-button href="mainhome"><ion-icon slot="icon-only" name="home-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="danger ">
            <ion-card-title>details des produits</ion-card-title>
          </ion-card-header>
          <ion-list>
            <ion-item>
              <ion-label><b>Nom:</b> {{produit.nom_produit}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Prix:</b> {{produit.prix_produit}}</ion-label>
            </ion-item>





            <ion-item>
              <ion-label><b>Date de validation :</b> {{produit.created_at}}</ion-label>
            </ion-item>

