<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title size="large" >
      FMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Paramètres</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating" color="dark">Monnaie
              </ion-label>
              <ion-button fill="solid" slot="mid" color="success">Ajouter <ion-icon name="person-add-outline"></ion-icon></ion-button>

              <ion-input type="number" step="any"></ion-input>

            </ion-item>
            <ion-item>
              <ion-label position="floating" color="dark">TVA</ion-label>
              <ion-input type="number" step="any"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="dark">délégation</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="dark">pays</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark">Type Société</ion-label>
              <ion-select placeholder="Select Type Société">
                <ion-select-option value="1">Prospect</ion-select-option>
                <ion-select-option value="2">Client</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="dark">Régime</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="dark">Forme Juridique</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="dark">Secteur</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="dark">Etat Profil</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark">Etat D'offre</ion-label>
              <ion-select placeholder="Select Etat d'offre">
                <ion-select-option value="PREPAREE">PREPAREE</ion-select-option>
                <ion-select-option value="A L’ETUDE">A L’ETUDE</ion-select-option>
                <ion-select-option value="ENVOYEE">ENVOYEE</ion-select-option>
                <ion-select-option value="ACCEPTEE">ACCEPTEE</ion-select-option>
                <ion-select-option value="REFUSEE">REFUSEE</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="dark">Etat Commande </ion-label>
              <ion-select placeholder="Select Etat Commande">
                <ion-select-option value="RECUE">RECUE</ion-select-option>
                <ion-select-option value="ANNULE, ">ANNULE, </ion-select-option>
                <ion-select-option value="EN COURS">EN COURS</ion-select-option>
                <ion-select-option value="FACTUREE">FACTUREE</ion-select-option>
                <ion-select-option value="CLOS">CLOS</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="dark">Etat Intervention </ion-label>
              <ion-select placeholder="Select Etat Intervention">
                <ion-select-option value="A FAIRE">A FAIRE</ion-select-option>
                <ion-select-option value="ANNULE">ANNULE</ion-select-option>
                <ion-select-option value="EN COURS">EN COURS</ion-select-option>
                <ion-select-option value="FAIT">FAIT</ion-select-option>
                <ion-select-option value="CLOS">CLOS</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="dark">Etat Planning  </ion-label>
              <ion-select placeholder="Select Etat Planning ">
                <ion-select-option value="A FAIRE">A FAIRE</ion-select-option>
                <ion-select-option value="ANNULE">ANNULE</ion-select-option>
                <ion-select-option value="EN COURS">EN COURS</ion-select-option>
                <ion-select-option value="FAIT">FAIT</ion-select-option>
                <ion-select-option value="CLOS">CLOS</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="dark">Type Intervention </ion-label>
              <ion-select placeholder="Select Type Intervention ">
                <ion-select-option value="PROJET">PROJET</ion-select-option>
                <ion-select-option value="ASSISTANCE">ASSISTANCE</ion-select-option>
                <ion-select-option value="EXTENSION">EXTENSION</ion-select-option>
                <ion-select-option value="MAINTEENANCE">MAINTEENANCE</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="dark">Prestation</ion-label>
              <ion-select placeholder="Select Prestation ">
                <ion-select-option value="AUDIT">AUDIT</ion-select-option>
                <ion-select-option value="FORMATION">FORMATION</ion-select-option>
                <ion-select-option value="ASSISTANCE">ASSISTANCE</ion-select-option>
                <ion-select-option value="ACCOMPAGNEMENT">ACCOMPAGNEMENT</ion-select-option>
                <ion-select-option value="PILOTAGE PROJET ">PILOTAGE PROJET </ion-select-option>
                <ion-select-option value="DIRECTION">DIRECTION</ion-select-option>
              </ion-select>
            </ion-item><ion-item>
              <ion-label color="dark">Produit</ion-label>
              <ion-select placeholder="Select Produit ">
                <ion-select-option value="MM">MM</ion-select-option>
                <ion-select-option value="MX">MX</ion-select-option>
                <ion-select-option value="OM">OM</ion-select-option>
                <ion-select-option value="OPTIMAINT">OPTIMAINT</ion-select-option>
                <ion-select-option value="MATRIX">MATRIX</ion-select-option>
                <ion-select-option value="AQUIWEB">AQUIWEB</ion-select-option>
              </ion-select>
            </ion-item><ion-item>
              <ion-label color="dark">Module Et Options </ion-label>
              <ion-select placeholder="Select Module Et Options ">
                <ion-select-option value="PACKAGE COMPLET">PACKAGE COMPLET</ion-select-option>
                <ion-select-option value="MULTIMAGASIN">MULTIMAGASIN</ion-select-option>
                <ion-select-option value="PROGRAMMATION ACTION">PROGRAMMATION ACTION</ion-select-option>
                <ion-select-option value="MATRICULE">MATRICULE</ion-select-option>
                <ion-select-option value="PNEUMATIQUE">PNEUMATIQUE</ion-select-option>
                <ion-select-option value="ACHAT">ACHAT</ion-select-option>
                <ion-select-option value="GESTION ACCES AUX DONNEES">GESTION ACCES AUX DONNEES</ion-select-option>
                <ion-select-option value="CONNECTEUR ERP">CONNECTEUR ERP</ion-select-option>
                <ion-select-option value="FACTURATION">FACTURATION</ion-select-option>
                <ion-select-option value="EDUCATION">EDUCATION</ion-select-option>
                <ion-select-option value="BTs GROUPES">BTs GROUPES</ion-select-option>
                <ion-select-option value="IPs et BTs liés">IPs et BTs liés</ion-select-option>
              </ion-select>
            </ion-item>



          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
