<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title  size="large" >
      FMS
    </ion-title>
    <ion-buttons slot="start">
      <ion-button href="mainhome"><ion-icon slot="icon-only" name="home-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



  <ion-content [fullscreen]="true">

    <div *ngIf="user.profil=='Admin' && user.etat=='Actif' ">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header color="danger ">
              <ion-card-title>Detail des Prospects</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label><b>Code :</b> {{prospects.codeP}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Raison sociale: </b>{{prospects.raisonsocialeP}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label ><b>Type : </b>{{prospects.typeP }}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Etat :</b> {{prospects.etatP}} </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Adresse :</b> {{prospects.adresseP}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Ville :</b> {{prospects.villeP}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Pays :</b> {{prospects?.pay?.nom_pays}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Matricule fiscale :</b> {{prospects.matriculefiscaleP}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>registre commerce :</b> {{prospects.registrecommerceP}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b> Regime :</b> {{prospects?.regime?.type_regime}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Forme juridique :</b> {{prospects?.formejuridique?.forme_juridique}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Secteur :</b> {{prospects?.secteur?.type_secteur}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>TVA :</b> {{prospects?.tva?.type_tva}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Responsable :</b> {{prospects.responsableP}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Telephone fixe :</b> {{prospects.telephonefixeP}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Telephone mobile :</b> {{prospects.telephonemobileP}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Telecopie :</b> {{prospects.telecopieP}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Site web :</b> {{prospects.sitewebP}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Adresse électronique :</b> {{prospects.adresseelectroniqueP}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Monnaie :</b> {{prospects?.monnaie?.type_monnaie}}</ion-label>
                </ion-item>


                <ion-item>
                  <ion-label><b>Date de validation :</b> {{prospects.created_at}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>

    <div *ngIf="user.etat=='Inactif' ">
      <ion-text color="danger">
        <h1>Desolé , Vous étes en etat Inactif pour le moment vous pouver pas acceder le site !!  <ion-icon name="sad-outline"></ion-icon><ion-icon name="sad-outline"></ion-icon></h1>
      </ion-text>

    </div>


              <div *ngIf="user.profil=='profil 1' ">



                <ion-text color="danger">
                  <h1>Desolé , seul les admins sont autorisé a cette page !!  <ion-icon name="sad-outline"></ion-icon><ion-icon name="sad-outline"></ion-icon></h1>
                </ion-text>




                </div>
