<ion-header [translucent]="true">
  <ion-toolbar color="danger">



    <ion-buttons slot="end">

        <ion-menu-button menu="admin" slot="start"></ion-menu-button>


    </ion-buttons>
    <ion-title>FMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Home</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Produit(s)</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Interlocuteur</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Echange</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Offre(s)</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Contact(s)</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Commandes</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Plannig(s)</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Intervension(s)</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Fichier assosié</ion-label>
              </ion-item>

            </ion-list>





          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
