<ion-header [translucent]="true">
  <ion-toolbar color="danger">



    <ion-buttons slot="end">
      <ion-button (click)="inLogin()"> <ion-icon slot="icon-only" name="log-in-outline" ></ion-icon> </ion-button>
        <ion-menu-button menu="admin" slot="start"></ion-menu-button>


    </ion-buttons>
    <ion-title>FMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size ="12" >
         <ion-segment [(ngModel)]="select" scrollable color="danger">
           <ion-segment-button value="Produit">
            <ion-label>Produit</ion-label>

           </ion-segment-button>
           <ion-segment-button value="Commande">
            <ion-label>Commandes</ion-label>

           </ion-segment-button>
           <ion-segment-button value="Contact">
            <ion-label>Contacts</ion-label>

           </ion-segment-button>
           <ion-segment-button value="Echange">
            <ion-label>Echanges</ion-label>

           </ion-segment-button>
           <ion-segment-button value="fichier">
            <ion-label>Fichier Assosié</ion-label>

           </ion-segment-button>

           <ion-segment-button value="Intervention">
            <ion-label>Intervensions</ion-label>

           </ion-segment-button>

           <ion-segment-button  value="Offre">
            <ion-label>Offres</ion-label>

           </ion-segment-button>

           <ion-segment-button  value="Planning">
            <ion-label  >Plannings</ion-label>

           </ion-segment-button>






         </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

<div *ngIf="select == 'Commande' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Commandes</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="select == 'Produit' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Produit</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="select == 'Contact' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Contact</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="select == 'Echange' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Echanges</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="select == 'fichier' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Fichiers Assosié</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="select == 'Interlocuteur' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Interlocuteurs</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="select == 'Offre' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Offres</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="select == 'Planning' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Plannings</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="select == 'Intervention' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Interventions</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>



</ion-content>
