<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title size="large" >
      FMS
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Prospect</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating" color="dark">Code</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating" color="dark">Raison Social</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark">Type</ion-label>
              <ion-select placeholder="Select Type">
                <ion-select-option value="Prospect">Prospect</ion-select-option>
                <ion-select-option value="Client">Client</ion-select-option>

              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label color="dark">Actif</ion-label>
              <ion-checkbox color="danger"></ion-checkbox>

             </ion-item>
             <ion-item>
              <ion-label position="floating" color="dark">Adresse</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="dark">Code postal</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark">Ville</ion-label>
              <ion-select placeholder="Select Ville">
                <ion-select-option value="Ariana">Ariana</ion-select-option>
                <ion-select-option value="Beja">Beja</ion-select-option>
                <ion-select-option value="Ben Arous">Ben Arous</ion-select-option>
                <ion-select-option value="Bizerte">Bizerte</ion-select-option>
                <ion-select-option value="Gabès">Gabès</ion-select-option>
                <ion-select-option value="Gafsa">Gafsa</ion-select-option>
                <ion-select-option value="Jendouba">Jendouba</ion-select-option>
                <ion-select-option value="Kairouan">Kairouan</ion-select-option>
                <ion-select-option value="Kasserine">Kasserine</ion-select-option>
                <ion-select-option value="Kebili">kebili</ion-select-option>
                <ion-select-option value="Kef">Kef</ion-select-option>
                <ion-select-option value="Mahdia">Mahdia</ion-select-option>
                <ion-select-option value="Manouba">Manouba</ion-select-option>
                <ion-select-option value="Medenine">Medenine</ion-select-option>
                <ion-select-option value="Monastir">Monastir</ion-select-option>
                <ion-select-option value="Beja">Beja</ion-select-option>
                <ion-select-option value="Nabeul">Nabeul</ion-select-option>
                <ion-select-option value="Sfax">Sfax</ion-select-option>
                <ion-select-option value="Sidi Bou Zid">Sidi Bou Zid</ion-select-option>
                <ion-select-option value="Siliana">Siliana</ion-select-option>
                <ion-select-option value="Sousse">Sousse</ion-select-option>
                <ion-select-option value="Tataouine">Tataouine</ion-select-option>
                <ion-select-option value="Tozeur">Tozeur</ion-select-option>
                <ion-select-option value="Tunis">Tunis</ion-select-option>
                <ion-select-option value="Zaghouan">Zaghouan</ion-select-option>



              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="dark">Pays</ion-label>
              <ion-select placeholder="Select Pays">
                <ion-select-option *ngFor=" let pay of pays" value="{{pay}}">
                  {{pay}}
                </ion-select-option>

              </ion-select>
            </ion-item>

          <ion-item>
           <ion-label position="floating" color="dark">Matricule fiscal</ion-label>
           <ion-input type="text"></ion-input>
         </ion-item>
         <ion-item>
          <ion-label position="floating" color="dark">Registre du commerce</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="dark">Regime</ion-label>
          <ion-select placeholder="Select regime">
            <ion-select-option *ngFor=" let regime of regimes" value="{{regime}}">
              {{regime}}
            </ion-select-option>

          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="dark">Form juridique</ion-label>
          <ion-select placeholder="Select Form">
            <ion-select-option value="Entreprise individuelle">Entreprise individuelle</ion-select-option>
            <ion-select-option value="SARL">SARL</ion-select-option>
            <ion-select-option value="SA">SA</ion-select-option>
            <ion-select-option value="SUARL">SUARL</ion-select-option>

          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="dark">Secteur</ion-label>
          <ion-select placeholder="Select Secteur">
            <ion-select-option *ngFor=" let secteur of secteurs" value="{{secteur}}">
              {{secteur}}
            </ion-select-option>

          </ion-select>
        </ion-item>

      <ion-item>
       <ion-label position="floating" color="dark">Activité</ion-label>
       <ion-input type="text"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label color="dark">TVA</ion-label>
      <ion-select placeholder="Select TVA">
        <ion-select-option value="Assujetti">Assujetti</ion-select-option>
        <ion-select-option value="Non assujetti">Non assujetti</ion-select-option>
        <ion-select-option value="Exonoré">Exonoré</ion-select-option>
        <ion-select-option value="En suspension">En suspension</ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="dark">Responsable</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="dark">Telephone fixe</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="dark">Telephone mobile</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="dark">Telecopie</ion-label>
      <ion-input type="Text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="dark">Site Web</ion-label>
      <ion-input type="url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="dark">Adresse Electronic</ion-label>
      <ion-input type="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Monnaie</ion-label>
      <ion-select placeholder="Select Monnaie">
        <ion-select-option *ngFor=" let monnaie of monnaies" value="{{monnaie}}">
          {{monnaie}}
        </ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button fill="outline" slot="start" color="danger" ><ion-icon name="arrow-back-outline"></ion-icon> Cancel </ion-button>
      <ion-button fill="solid" slot="end" color="success" ><ion-icon name="person-add-outline" ></ion-icon>Ajouter </ion-button>
    </ion-item>








          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
