<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title size="large" >
      FMS
    </ion-title>
    <ion-buttons slot="start">
      <ion-button href="mainhome"><ion-icon slot="icon-only" name="home-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div *ngIf="user.profil=='Admin' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Prospect</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating" color="dark">Code</ion-label>
              <ion-input [(ngModel)]="addPros.codeP" name="codeP" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating" color="dark">Raison Social</ion-label>
              <ion-input [(ngModel)]="addPros.raisonsocialeP" name="raisonsocialeP" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark">Type</ion-label>
              <ion-select [(ngModel)]="addPros.typeP" name="Type" placeholder="Select Type">
                <ion-select-option value="Prospect">Prospect</ion-select-option>
                <ion-select-option value="Client">Client</ion-select-option>

              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label color="dark">Etat</ion-label>
              <ion-select [(ngModel)]="addPros.etatP" name="etatP" placeholder="Select Profils">
                <ion-select-option value="Actif">Actif</ion-select-option>
                <ion-select-option value="inactif">Inactif</ion-select-option>
              </ion-select>

             </ion-item>
             <ion-item>
              <ion-label position="floating" color="dark">Adresse</ion-label>
              <ion-input type="text" [(ngModel)]="addPros.adresseP" name="adresseP"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="dark">Code postal</ion-label>
              <ion-input [(ngModel)]="addPros.codepostalP" name="codepostalP" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark">Ville</ion-label>
              <ion-select [(ngModel)]="addPros.villeP" name="villeP" placeholder="Select Ville">
                <ion-select-option value="Ariana">Ariana</ion-select-option>
                <ion-select-option value="Beja">Beja</ion-select-option>
                <ion-select-option value="Ben Arous">Ben Arous</ion-select-option>
                <ion-select-option value="Bizerte">Bizerte</ion-select-option>
                <ion-select-option value="Gabès">Gabès</ion-select-option>
                <ion-select-option value="Gafsa">Gafsa</ion-select-option>
                <ion-select-option value="Jendouba">Jendouba</ion-select-option>
                <ion-select-option value="Kairouan">Kairouan</ion-select-option>
                <ion-select-option value="Kasserine">Kasserine</ion-select-option>
                <ion-select-option value="Kebili">kebili</ion-select-option>
                <ion-select-option value="Kef">Kef</ion-select-option>
                <ion-select-option value="Mahdia">Mahdia</ion-select-option>
                <ion-select-option value="Manouba">Manouba</ion-select-option>
                <ion-select-option value="Medenine">Medenine</ion-select-option>
                <ion-select-option value="Monastir">Monastir</ion-select-option>
                <ion-select-option value="Beja">Beja</ion-select-option>
                <ion-select-option value="Nabeul">Nabeul</ion-select-option>
                <ion-select-option value="Sfax">Sfax</ion-select-option>
                <ion-select-option value="Sidi Bou Zid">Sidi Bou Zid</ion-select-option>
                <ion-select-option value="Siliana">Siliana</ion-select-option>
                <ion-select-option value="Sousse">Sousse</ion-select-option>
                <ion-select-option value="Tataouine">Tataouine</ion-select-option>
                <ion-select-option value="Tozeur">Tozeur</ion-select-option>
                <ion-select-option value="Tunis">Tunis</ion-select-option>
                <ion-select-option value="Zaghouan">Zaghouan</ion-select-option>
              </ion-select>
            </ion-item>


            <ion-item>
              <ion-label color="dark">Pays</ion-label>
              <ion-select [(ngModel)]="addPros.pay_id" name="paysP" placeholder="Select Pays">
                <ion-select-option *ngFor=" let pay of pays" value="{{pay.id}}">
                  {{pay.nom_pays}}
                </ion-select-option>

              </ion-select>
            </ion-item>

          <ion-item>
           <ion-label position="floating" color="dark">Matricule fiscal</ion-label>
           <ion-input [(ngModel)]="addPros.matriculefiscaleP" name="matriculefiscaleP" type="text"></ion-input>
         </ion-item>
         <ion-item>
          <ion-label position="floating" color="dark">Registre du commerce</ion-label>
          <ion-input [(ngModel)]="addPros.registrecommerceP" name="Registre Du Commerce" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="dark">Regime</ion-label>
          <ion-select [(ngModel)]="addPros.regime_id" name="Regime" placeholder="Select regime">
            <ion-select-option *ngFor=" let regime of regimes" value="{{regime.id}}">
              {{regime.type_regime}}
            </ion-select-option>

          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="dark">Form juridique</ion-label>
          <ion-select [(ngModel)]="addPros.formejuridique_id" name="formJuridique" placeholder="Select Form">
            <ion-select-option *ngFor=" let for of form" value="{{for.id}}">
              {{for.forme_juridique}}
            </ion-select-option>

          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="dark">Secteur</ion-label>
          <ion-select [(ngModel)]="addPros.secteur_id" name="secteur" placeholder="Select Secteur">
            <ion-select-option *ngFor=" let secteur of secteurs" value="{{secteur.id}}">
              {{secteur.type_secteur}}
            </ion-select-option>

          </ion-select>
        </ion-item>

      <ion-item>
       <ion-label position="floating" color="dark">Activité</ion-label>
       <ion-input [(ngModel)]="addPros.activiteP" name="activité" type="text"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label color="dark">TVA</ion-label>
      <ion-select [(ngModel)]="addPros.tva_id" name="tva" placeholder="Select TVA">
        <ion-select-option *ngFor="let tva of TVAs " value="{{tva.id}}" >
          {{tva.type_tva}}
        </ion-select-option>


      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="dark">Responsable</ion-label>
      <ion-input [(ngModel)]="addPros.responsableP" name="responsable" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="dark">Telephone fixe</ion-label>
      <ion-input [(ngModel)]="addPros.telephonefixeP" name="telephone fixe" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="dark">Telephone mobile</ion-label>
      <ion-input [(ngModel)]="addPros.telephonemobileP" name="Telephone mobile" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="dark">Telecopie</ion-label>
      <ion-input [(ngModel)]="addPros.telecopieP" name="Telecopie" type="Text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="dark">Site Web</ion-label>
      <ion-input [(ngModel)]="addPros.sitewebP" name="SiteWeb" type="url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="dark">Adresse Electronic</ion-label>
      <ion-input [(ngModel)]="addPros.adresseelectroniqueP" name="adresse electronic" type="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Monnaie</ion-label>
      <ion-select [(ngModel)]="addPros.monnaie_id" name="monnaie" placeholder="Select Monnaie">
        <ion-select-option *ngFor=" let monnaie of monnaies" value="{{monnaie.id}}">
          {{monnaie.type_monnaie}}
        </ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button fill="outline" slot="start" color="danger" (click)="cancel()"><ion-icon name="arrow-back-outline"></ion-icon> Cancel </ion-button>
      <ion-button fill="solid" slot="end" color="success" (click)="aadPros()" ><ion-icon name="person-add-outline" ></ion-icon>Ajouter </ion-button>
    </ion-item>







          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

  <div *ngIf="user.profil=='profil 1' ">



    <ion-text color="danger">
      <h1>Desolé , seul les admins sont autorisé a cette page !!  <ion-icon name="sad-outline"></ion-icon><ion-icon name="sad-outline"></ion-icon></h1>
    </ion-text>




    </div>

</ion-content>
