<ion-app>

  <ion-menu menuId="admin" >
   <ion-header>
     <ion-toolbar color="danger">
       <ion-title>
         Menu
       </ion-title>
     </ion-toolbar>
   </ion-header>
     <ion-content>
       <ion-list>
         <ion-menu-toggle>

           <ion-item>
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>
              Parametre
            </ion-label>
          </ion-item>
          <ion-item (click)="add()">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            <ion-label>
               Ajouter utilisateur
            </ion-label>
          </ion-item>
          <ion-item (click)="addpros()">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            <ion-label>
               Ajouter prospect
            </ion-label>
          </ion-item>
          <ion-item (click)="openLog()">
            <ion-icon name="Log-in-outline" slot="start" ></ion-icon>
            <ion-label>
              Login
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

       </ion-list>
     </ion-content>


  </ion-menu>





  <ion-router-outlet main ></ion-router-outlet>



</ion-app>
