<ion-app>

  <ion-menu menuId="admin" >
   <ion-header>
     <ion-toolbar color="danger">
       <ion-title>
         Menu
       </ion-title>
     </ion-toolbar>
   </ion-header>
     <ion-content>
       <ion-list>
         <ion-menu-toggle>

           <ion-item href="parametres">
            <ion-icon name="options-outline" slot="start"></ion-icon>
            <ion-label>
              Options
            </ion-label>
          </ion-item>
          <ion-item href="gestion-users">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            <ion-label>
               Gestion d'utilisateur
            </ion-label>
          </ion-item>
          <ion-item href="gestion-prospect">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            <ion-label>
               Gestion du Prospect
            </ion-label>
          </ion-item>
          <ion-item href="dashboard">
            <ion-icon name="clipboard-outline" slot="start"></ion-icon>
            <ion-label>
              Tableau de bord
            </ion-label>
          </ion-item>

        </ion-menu-toggle>

       </ion-list>
     </ion-content>


  </ion-menu>




  <ion-router-outlet main ></ion-router-outlet>




</ion-app>
