<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title  size="large" >
      FMS
    </ion-title>
    <ion-buttons slot="start">
      <ion-button href="mainhome"><ion-icon slot="icon-only" name="home-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <br><br>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Envoyer email pour change mot de passe </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-chip color="danger" [hidden]="!error">
              <ion-label> {{error}}</ion-label>
             </ion-chip>
            <ion-item>


              <ion-label position="floating" color="dark">Email</ion-label>
              <ion-input type="text" [(ngModel)]="loginn.email"  name="email" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-button fill="solid" slot="end" color="tertiary" (click)="password()">Envoyer email pour changer mot de passe</ion-button>

            </ion-item>

