<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title href="mainhome" size="large" >
      FMS
    </ion-title>
    <ion-buttons slot="start">
      <ion-button href="mainhome"><ion-icon slot="icon-only" name="home-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div *ngIf="user.etat=='Actif' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Paramètres</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
            <ion-item href="parametres/monnaies">
              <ion-label  color="dark">Monnaies
              </ion-label>

            </ion-item>


            <ion-item href="parametres/tva">
              <ion-label  color="dark">TVA</ion-label>
            </ion-item>


            <ion-item href="parametres/delegation">
              <ion-label  color="dark">Délégations</ion-label>
            </ion-item>


            <ion-item href="parametres/pays">
              <ion-label  color="dark">Pays</ion-label>
            </ion-item>


            <ion-item href="parametres/type-societe">
              <ion-label  color="dark">Type Société</ion-label>

            </ion-item>

            <ion-item href="parametres/regime">
              <ion-label  color="dark">Régime</ion-label>
            </ion-item>


            <ion-item href="parametres/regime-juridique">
              <ion-label  color="dark">Forme Juridique</ion-label>
            </ion-item>

            <ion-item href="parametres/secteur">
              <ion-label  color="dark">Secteurs</ion-label>
            </ion-item>

            <ion-item href="parametres/profil">
              <ion-label  color="dark">Etat Profils</ion-label>
            </ion-item>

            <ion-item href="parametres/etat-offre">
              <ion-label color="dark">Etat Offres</ion-label>
            </ion-item>

            <ion-item href="parametres/etat-commande" >
              <ion-label color="dark">Etat Commandes </ion-label>
            </ion-item>


            <ion-item href="parametres/etat-intervention" >
              <ion-label  color="dark">Etat Interventions </ion-label>
            </ion-item>

            <ion-item href="parametres/Etat-planning" >
              <ion-label  color="dark">Etat Plannings </ion-label>
            </ion-item>

            <ion-item href="parametres/type-intervention" >
              <ion-label  color="dark">Type Interventions </ion-label>
            </ion-item>

            <ion-item href="parametres/prestation" >
              <ion-label  color="dark">Prestations</ion-label>
            </ion-item  >
            <ion-item href="parametres/produits">
              <ion-label  color="dark">Produits</ion-label>

            </ion-item>
            <ion-item href="parametres/module-et-option" >
              <ion-label  color="dark">Modules et Options </ion-label>

            </ion-item>
          </ion-list>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

  <div *ngIf="user.etat=='Inactif' ">
    <ion-text color="danger">
      <h1>Desolé , Vous étes en etat Inactif pour le moment vous pouver pas acceder le site !!  <ion-icon name="sad-outline"></ion-icon><ion-icon name="sad-outline"></ion-icon></h1>
    </ion-text>

  </div>
</ion-content>
