<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title size="large" >
      FMS
    </ion-title>
    <ion-buttons slot="start">
      <ion-button href="mainhome"><ion-icon slot="icon-only" name="home-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="dark ">
            <ion-card-title>Ajouter monnaie</ion-card-title>
          </ion-card-header>
          <ion-item>

            <ion-label position="floating" color="dark">Type</ion-label>
            <ion-input [(ngModel)]="monnaie.type_monnaie" name="nom" type="text"></ion-input>
          </ion-item>
          <ion-item>

            <ion-label position="floating" color="dark">Valeur</ion-label>
            <ion-input [(ngModel)]="monnaie.valeur_monnaie" name="nom" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button fill="solid" slot="end" color="success" (click)="aadMonnaie()"  >Ajouter <ion-icon name="add-circle-outline"></ion-icon></ion-button>
            <ion-button fill="outline" slot="start" color="danger" (click)="cancel()"><ion-icon name="arrow-back-outline"></ion-icon> Cancel </ion-button>
          </ion-item>
