<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title href="mainhome" size="large" >
      FMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="user.profil=='Admin' && user.etat=='Actif' ">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card >
          <ion-card-header color="dark ">
            <ion-card-title>Ajouter</ion-card-title>
          </ion-card-header>
          <ion-card-content >

            <ion-item>

              <ion-label position="floating" color="dark">Nom</ion-label>
              <ion-input [(ngModel)]="addUser.nom" name="nom" type="text"></ion-input>
            </ion-item>
            <ion-chip color="danger" [hidden]="!error.nom">
              <ion-label> {{error.nom}}</ion-label>
             </ion-chip>

            <ion-item>

              <ion-label position="floating" color="dark">Prenom</ion-label>
              <ion-input [(ngModel)]="addUser.prenom" name="prenom" type="text"></ion-input>
            </ion-item>
            <ion-chip color="danger" [hidden]="!error.prenom">
              <ion-label> {{error.prenom}}</ion-label>
             </ion-chip>

            <ion-item>

              <ion-label position="floating" color="dark">Email </ion-label>
              <ion-input [(ngModel)]="addUser.email" name="email" type="text"></ion-input>
            </ion-item>
            <ion-chip color="danger" [hidden]="!error.email">
              <ion-label> {{error.email}}</ion-label>
             </ion-chip>

            <ion-item>

              <ion-label position="floating" color="dark">Mot de passe</ion-label>
              <ion-input type="password" [(ngModel)]="addUser.password" name="password"></ion-input>
            </ion-item>
            <ion-chip color="danger" [hidden]="!error.password">
              <ion-label> {{error.password}}</ion-label>
             </ion-chip>

            <ion-item>
              <ion-label position="floating" color="dark">Confirmation mot de passe</ion-label>
              <ion-input type="password" [(ngModel)]="addUser.password_confirmation" name="password_confirmation"></ion-input>
            </ion-item>
            <ion-chip color="danger" [hidden]="!error.password_confirmation">
              <ion-label> {{error.password_confirmation}}</ion-label>
             </ion-chip>

            <ion-item>
              <ion-label color="dark">Profil</ion-label>
              <ion-select [(ngModel)]="addUser.profil" name="profil" placeholder="Select Profils">
                <ion-select-option value="Admin">Admin</ion-select-option>
                <ion-select-option value="profil 1">User</ion-select-option>

              </ion-select>
            </ion-item>
            <ion-chip color="danger" [hidden]="!error.profil">
              <ion-label> {{error.profil}}</ion-label>
             </ion-chip>

            <ion-item>
              <ion-label color="dark">Etat</ion-label>
              <ion-select [(ngModel)]="addUser.etat" name="etat" placeholder="Select Etat">
                <ion-select-option value="Actif">Actif</ion-select-option>
                <ion-select-option value="Inactif">Inactif</ion-select-option>

              </ion-select>
            </ion-item>
            <ion-chip color="danger" [hidden]="!error.etat">
              <ion-label> {{error.etat}}</ion-label>
             </ion-chip>


            <ion-item>
              <ion-label position="floating" color="dark">Fréquence de renouvellement du Login</ion-label>
              <ion-input [(ngModel)]="addUser.frl" name="frl" type="text"></ion-input>
            </ion-item>
            <ion-chip color="danger" [hidden]="!error.frl">
              <ion-label> {{error.frl}}</ion-label>
             </ion-chip>
            <ion-item>
              <ion-button fill="solid" slot="end" color="success" (click)="aaddUser()"  >Ajouter <ion-icon name="person-add-outline"></ion-icon></ion-button>
              <ion-button fill="outline" slot="start" color="danger" (click)="cancel()"><ion-icon name="arrow-back-outline"></ion-icon> Cancel </ion-button>
            </ion-item>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

  <div *ngIf="user.profil=='profil 1' ">



    <ion-text color="danger">
      <h1>Desolé , seul les admins sont autorisé a cette page !!  <ion-icon name="sad-outline"></ion-icon><ion-icon name="sad-outline"></ion-icon></h1>
    </ion-text>




    </div>
    <div *ngIf="user.etat=='Inactif' ">
      <ion-text color="danger">
        <h1>Desolé , Vous étes en etat Inactif pour le moment vous pouver pas acceder le site !!  <ion-icon name="sad-outline"></ion-icon><ion-icon name="sad-outline"></ion-icon></h1>
      </ion-text>

    </div>

</ion-content>
